<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Ajoutez d'autres sources de packages ici -->
    <add key="ThreeTFrameworkGithub" value="https://nuget.pkg.github.com/AndreaWauhtia/index.json" />
  </packageSources>
 <packageSourceCredentials>
    <ThreeTFrameworkGithub>
      <add key="Username" value="AndreaWauhtia" />
      <add key="ClearTextPassword" value="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" />
    </ThreeTFrameworkGithub>
  </packageSourceCredentials>
</configuration>
